# env variables
.env

# local stuff
.venv/
.vscode/

**.bin
**/.ipynb_checkpoints
**/__pycache__

# db
postgres/
vectorstore/chromadb/
*.sqlite3

# jupyter notebooks
*.ipynb
**/notebooks

# k8s configs
k8s/dashboard.yaml

# misc
#resources/*
#!resources/msg_life-gb-2021-EN_final.pdf
