# env variables
.env

# local stuff
.venv/
.vscode/

**.bin
**/.ipynb_checkpoints
**/__pycache__

# vectorstore
vectorstore/chromadb/
*.sqlite3

# jupyter notebooks
*.ipynb
!notebooks/RAGflow getting started.ipynb
!notebooks/Embedding Model Finetuning with Llamaindex.ipynb
!notebooks/Retrieval methods.ipynb
!notebooks/agents.ipynb

# k8s configs
k8s/dashboard.yaml

# misc
#resources/*
#!resources/msg_life-gb-2021-EN_final.pdf
