# env variables
.env

# local stuff
.venv/
.vscode/
tmp/

**/.ipynb_checkpoints
**/__pycache__

# vectorstore
vectorstore/chromadb/
*.sqlite3

# jupyter notebooks
*.ipynb
!notebooks/RAGflow getting started.ipynb

# k8s configs
k8s/dashboard.yaml

# misc
#resources/*
#!resources/msg_life-gb-2021-EN_final.pdf
