pandas
langchain
openai
tiktoken
huggingface-hub
pypdf
filetype
tokenizers
sentence-transformers
scikit-learn
llama-index
python-dotenv

docx2txt
unstructured
pdf2image
pdfminer
pdfminer.six

faiss-cpu